@font-face {
  font-family: "opensans";
  src: url(../font/OpenSanst.ttf);
}
@font-face {
  font-family: "digital";
  src: url(../font/DS-DIGIT.TTF);
}
body {
  overflow: hidden;
}

.speedometer {
  width: 70%;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.repair-container, .fuel-container {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.repair-bar {
  width: 90%;
  height: 100%;
}
.repair-bar__text {
  font-family: "opensans";
  color: rgb(255, 45, 45);
  font-size: 1rem;
  position: relative;
}
.repair-bar__bar {
  width: 90%;
  height: 20%;
  background-color: rgb(153, 153, 153);
  border-radius: 0.25vh;
  margin-bottom: 10px;
}
.repair-bar__fill {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 45, 45);
  border-radius: 0.25vh;
}

.fuel-bar {
  width: 90%;
  height: 100%;
}
.fuel-bar__text {
  font-family: "opensans";
  color: rgb(255, 45, 45);
}
.fuel-bar__bar {
  width: 90%;
  height: 20%;
  background-color: rgb(153, 153, 153);
  border-radius: 0.25vh;
}
.fuel-bar__fill {
  width: 50%;
  height: 100%;
  background-color: rgb(255, 45, 45);
  border-radius: 0.25vh;
}

.vehicle-status-container {
  width: 80%;
  height: 55%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-right: 20px;
}

.speed-display-wrapper {
  width: 15vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.speed-digit {
  color: rgb(255, 45, 45);
  font-size: 500%;
  font-family: "digital";
}

.speed-digit:empty::after {
  color: rgb(153, 153, 153);
  content: "0";
}

.status-container {
  width: 8vh;
  height: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.status-icon-wrapper {
  display: flex;
}

.unit {
  font-size: 2rem;
  font-family: "opensans";
  color: rgb(153, 153, 153);
}

#repair-icon {
  color: rgb(255, 45, 45);
  font-size: 2rem;
}

#fuel-icon {
  color: rgb(255, 45, 45);
  font-size: 2rem;
}

#lamp-icon {
  color: rgb(255, 45, 45);
  font-size: 1.5rem;
}

#belt-icon {
  color: rgb(255, 45, 45);
  font-size: 1.5rem;
}

#lock-icon {
  color: rgb(255, 45, 45);
  font-size: 1.5rem;
}

.car-performance {
  width: 25%;
  height: 30%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.car-performance .border {
  position: absolute;
  width: 100%;
  height: 100%;
  border: 4px solid rgb(255, 45, 45);
  -webkit-clip-path: polygon(0 70%, 10% 70%, 10% 30%, 0 30%, 0 0, 30% 0, 30% 10%, 70% 10%, 70% 0, 100% 0, 100% 30%, 90% 30%, 90% 70%, 100% 70%, 100% 100%, 70% 100%, 70% 90%, 30% 90%, 30% 100%, 0 100%);
          clip-path: polygon(0 70%, 10% 70%, 10% 30%, 0 30%, 0 0, 30% 0, 30% 10%, 70% 10%, 70% 0, 100% 0, 100% 30%, 90% 30%, 90% 70%, 100% 70%, 100% 100%, 70% 100%, 70% 90%, 30% 90%, 30% 100%, 0 100%);
  box-sizing: border-box;
}

.tyre-wrapper {
  width: 80%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.tyre-wrapper .left-wrapper {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: space-around;
}
.tyre-wrapper .right-wrapper {
  width: 50%;
  height: 70%;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-around;
}
.tyre-wrapper .tyre {
  background-color: rgb(255, 45, 45);
  width: 5px;
  height: 30%;
  border-radius: 2px;
}
.tyre-wrapper .icon-container {
  width: 40%;
  display: flex;
  justify-content: center;
  position: relative;
}
.tyre-wrapper #car-icon {
  font-size: 4rem;
  color: rgb(255, 45, 45);
}

.gear-wrapper {
  width: 50%;
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.gear-wrapper .gear {
  font-family: "opensans";
  font-size: 2.5rem;
  height: 50%;
  color: rgb(255, 45, 45);
}
.gear-wrapper .gear-text {
  font-family: "opensans";
  font-size: 1.7rem;
  color: rgb(153, 153, 153);
  position: relative;
}

.hologram-container {
  width: 512px;
  height: 512px;
  align-items: center;
  gap: 0;
  display: flex;
  justify-content: space-evenly;
}