@font-face {
	font-family: "opensans";
	src: url(../font/OpenSanst.ttf);
}

@font-face {
	font-family: "digital";
	src: url(../font/DS-DIGIT.TTF);
}

$icon-size: 2rem;
$digit-size: 500%;
$normal-font: "opensans";
$digital-font: "digital";